# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Ambiente / Variáveis
.env
.env.local
.env.*.local

# Logs
logs/
*.log
logs/*.log

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
